In [1]:
import pandas as pd

In [5]:
gp = pd.read_csv("/shared/karan.verma/gp_train_data.txt", sep='|', header=None)

/home/karan.verma/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (1,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [16]:
gp[gp[1] == 2720204]

,0,1,2,3,4,5,6,7,8
1323282,CTCLoss,2.7202e+06,b2sgc28=,b2sgc28=,/home/software/data/transcription/flacs/my_o...,"[0, 18, 0, 20, 0, 62, 0, 1, 0, 51, 0, 66, 0]",ओके सो,526,
1399290,CTCLoss,2720204,b2sgc28=,b2sgc28=,/home/software/data/transcription/flacs/my_o...,"[0, 18, 0, 20, 0, 62, 0, 1, 0, 51, 0, 66, 0]",ओके सो,526,
1731725,CTCLoss,2720204,b2sgc28=,b2sgc28=,/home/software/data/transcription/flacs/my_o...,"[0, 18, 0, 20, 0, 62, 0, 1, 0, 51, 0, 66, 0]",ओके सो,526,
1807733,CTCLoss,2720204,b2sgc28=,b2sgc28=,/home/software/data/transcription/flacs/my_o...,"[0, 18, 0, 20, 0, 62, 0, 1, 0, 51, 0, 66, 0]",ओके सो,526,
2140168,CTCLoss,2.7202e+06,b2sgc28=,b2sgc28=,/home/software/data/transcription/flacs/my_o...,"[0, 18, 0, 20, 0, 62, 0, 1, 0, 51, 0, 66, 0]",ओके सो,526,
2216176,CTCLoss,2.7202e+06,b2sgc28=,b2sgc28=,/home/software/data/transcription/flacs/my_o...,"[0, 18, 0, 20, 0, 62, 0, 1, 0, 51, 0, 66, 0]",ओके सो,526,
2548611,CTCLoss,2720204,b2sgc28=,b2sgc28=,/home/software/data/transcription/flacs/my_o...,"[0, 18, 0, 20, 0, 62, 0, 1, 0, 51, 0, 66, 0]",ओके सो,526,
2624619,CTCLoss,2720204,b2sgc28=,b2sgc28=,/home/software/data/transcription/flacs/my_o...,"[0, 18, 0, 20, 0, 62, 0, 1, 0, 51, 0, 66, 0]",ओके सो,526,
2957054,CTCLoss,2720204,b2sgc28=,b2sgc28=,/home/software/data/transcription/flacs/my_o...,"[0, 18, 0, 20, 0, 62, 0, 1, 0, 51, 0, 66, 0]",ओके सो,526,
3033062,CTCLoss,2720204,b2sgc28=,b2sgc28=,/home/software/data/transcription/flacs/my_o...,"[0, 18, 0, 20, 0, 62, 0, 1, 0, 51, 0, 66, 0]",ओके सो,526,

In [15]:
gp.describe()

,0,1,2,3,4,5,6,7,8
count,3307402,3307402.0,3307379,3307373,3307362,3307351,3307330,3307329,3307327
unique,3,1633388.0,943691,944386,1261557,937157,937137,399,3
top,CTCLoss,2720204.0,aGVsbG8=,aGVsbG8=,/home/software/data/transcription/flacs/my_o...,"[0, 52, 0, 62, 0, 47, 0, 66, 0]",हेलो,608,
freq,3307379,10.0,24696,25339,10,30396,30396,132302,3307325

In [17]:
gp.drop_duplicates(subset=1)[1].is_unique

True

In [18]:
gp.drop_duplicates(subset=1)

,0,1,2,3,4,5,6,7,8
0,CTCLoss,1.28363e+07,d2hhdA==,d2hhdA==,/shared3/all_transcription_flacs//gluster_sh...,"[0, 48, 0, 68, 0, 52, 0, 54, 0, 30, 0]",व्हाट,104,
1,CTCLoss,5.45685e+06,Y2FtZXJh,Y2FtZXJh,/home/software/data/transcription/flacs/api_...,"[0, 20, 0, 63, 0, 44, 0, 46, 0, 54, 0]",कैमरा,108,
2,CTCLoss,7.09199e+06,dHdlbnR5IHRocmVl,dHdlbnR5IHRocmVl,/home/software/data/transcription/flacs/api_...,"[0, 30, 0, 68, 0, 48, 0, 62, 0, 3, 0, 30, 0,...",ट्वेंटी थ्री,112,
3,CTCLoss,8.26014e+06,cGxlYXNlIGNob29zZQ==,cGxlYXNlIGNob29zZQ==,/home/software/data/transcription/flacs/api_...,"[0, 40, 0, 68, 0, 47, 0, 56, 0, 27, 0, 1, 0,...",प्लीज चूज,112,
4,CTCLoss,8.22304e+06,dHJhbnNmZXIgcGFhbmNo,dHJhbnNmZXIgcGFhbmNo,/home/software/data/transcription/flacs/api_...,"[0, 30, 0, 68, 0, 46, 0, 54, 0, 3, 0, 51, 0,...",ट्रांसफर पांच,112,
...,...,...,...,...,...,...,...,...,...
3134843,time taken end is CTCLoss,0.0551622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3143131,time taken end is CTCLoss,3.22457e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3214683,CTCLoss,1808471,d2FoYW4gYWFwIGtlIG9mZmljZSBtZWluIGFha2UgbWVy...,YWFwIGtlIG9mZmljZSBtZWluIGFha2UgIG1lcmVrbyBh...,/home/software/data/transcription/flacs/app_...,"[0, 48, 0, 52, 0, 54, 0, 3, 0, 1, 0, 6, 0, 4...",वहां आप के ऑफिस में आके मेरे को आप बाता सकते...,515,
3272571,CTCLoss,3052859 time taken end is,c2l4dHkgc2V2ZW4ga2EgdG90YWwgcXVvdGF0aW9uIGh...,,NaN,NaN,NaN,NaN,NaN
3278043,time taken end is CTCLoss,0.05598,NaN,NaN,NaN,NaN,NaN,NaN,NaN