In [2]:
import os
import base64
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("/home/karan.verma")
from verification_guardrails import get_type_of_text

In [3]:
ipaddr = 'speak2recharge.mysql.database.azure.com'
db_name = 'speech_uat'
passwd = 'S2RPass7'
userid = 'myadmin@speak2recharge'
dest_sql = "mysql+mysqldb://" + userid + ":" + passwd + "@" + ipaddr + "/" + db_name + "?charset=utf8&use_unicode=0"
sql_engine = create_engine(dest_sql,pool_recycle=3600)
db_connection    = sql_engine.connect()

In [4]:
tables = pd.read_sql("show tables;", db_connection)
tables

   Tables_in_speech_uat
0             b'config'
1               b'data'
2      b'data_assamese'
3       b'data_bengali'
4      b'data_gujarati'
..                  ...
83      b'user_punjabi'
84        b'user_tamil'
85       b'user_telugu'
86         b'user_urdu'
87           b'web_log'

[88 rows x 1 columns]

In [4]:
count_temporary = pd.read_sql("select count(*) from s2r_vs_grocery_combined_30092020", db_connection)
count_temporary

   count(*)
0   2290120

# Analyising Data From S2R

In [5]:
data_from_s2r = pd.read_sql("select * from s2r_vs_grocery_combined_30092020;", db_connection)
data_from_s2r['utf_text_decoded'] = data_from_s2r['utf_text'].apply(base64.urlsafe_b64decode).str.decode('utf8')
data_from_s2r['type_of_text'] = data_from_s2r['utf_text_decoded'].apply(get_type_of_text)
data_from_s2r_usable = data_from_s2r[data_from_s2r['type_of_text']==0 or ]

In [6]:
data_from_s2r['word_len'] = data_from_s2r['utf_text_decoded'].str.split().apply(len)
data_from_s2r.head()

,id,user_id,text,utf_text,base_dir,audio_file,assigned,tag,flag_decode,hash,...,verified_time,upload_time,uploaded,verified,synced,last_modifed,create_date,length,utf_text_decoded,word_len
0,17720717,39056,b'0',b'4KSP4KSu4KWH4KSc4KWJ4KSoIOCkquCljeCksuClhyDg...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720717.opus',1,37,0,9,...,None,0,1,20,1,None,2018-05-17 21:47:23,0,एमेजॉन प्ले माय मोस्ट लिसन टू सोंग्स ऑन गूगल प...,11
1,17720719,39056,b'0',b'4KSV4KSC4KSq4KWN4KSv4KWC4KSf4KSwIOCkquCljeCk...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720719.opus',1,37,0,9,...,None,0,1,20,1,None,2018-05-17 21:47:23,0,कंप्यूटर प्ले द न्यू एल्बम बाई निर्वाना\n,7
2,17720721,39056,b'0',b'4KSf4KWI4KSC4KSX4KWLIOCkuOClh-CknyDgpKYg4KSf...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720721.opus',1,37,0,9,...,None,0,1,20,1,None,2018-05-17 21:47:23,0,टैंगो सेट द टाइमर फॉर थर्टी वन मिनट्स\n,8
3,17720723,39056,b'0',b'4KSP4KSq4KWN4KSq4KSyIOCkquCljeCksuClhyDgpK7g...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720723.opus',1,37,0,9,...,None,0,1,20,1,None,2018-05-17 21:47:23,0,एप्पल प्ले माई बुक सीरियस मेन बाई आमिष त्रिपाठी\n,9
4,17720724,39056,b'0',b'4KSr4KS-4KSH4KS1IOCkoeClhwo=',b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720724.opus',1,37,0,9,...,None,0,1,20,1,None,2018-05-17 21:47:23,0,फाइव डे\n,2

In [1]:
data_from_s2r['char_len'] = data_from_s2r['utf_text_decoded'].apply(list).apply(len)
data_from_s2r.head()

NameError: name 'data_from_s2r' is not defined

In [1]:
data_from_s2r.describe()

NameError: name 'data_from_s2r' is not defined

In [ ]:
data_from_s2r_word_1 = data_from_s2r['word_len'].sample(n=10000, random_state=1)
data_from_s2r_word_2 = data_from_s2r['word_len'].sample(n=10000, random_state=2)
data_from_s2r_word_3 = data_from_s2r['word_len'].sample(n=10000, random_state=3)
data_from_s2r_word_4 = data_from_s2r['word_len'].sample(n=10000, random_state=4)
data_from_s2r_word_5 = data_from_s2r['word_len'].sample(n=10000, random_state=5)
data_from_s2r_word_6 = data_from_s2r['word_len'].sample(n=10000, random_state=6)
data_from_s2r_word_7 = data_from_s2r['word_len'].sample(n=10000, random_state=7)
data_from_s2r_word_8 = data_from_s2r['word_len'].sample(n=10000, random_state=2)
data_from_s2r_word_9 =

In [ ]:
fig, axs = plt.subplots(2,2)

sns.histplot(oa_ol[oa_ol.Type_of_text=="primary_speaker_only"], x="WER", color="red", label="BASELINE_P-Speak_WER", ax=axs[0][0])
axs[0][0].legend(loc="upper right")

sns.histplot(na_nl[na_nl.Type_of_text=="primary_speaker_only"], x="WER", color="green", label="BestModel_P-Speak_WER",ax=axs[0][0])
axs[0][0].legend(loc="upper right")


sns.histplot(oa_ol[oa_ol.Type_of_text=="multi_speaker_replaced_by_wildcard"], x="WER", color="red", label="BASELINE_M-Speak-WILD_WER", ax=axs[0][1])
axs[0][1].legend(loc="upper right")

sns.histplot(na_nl[na_nl.Type_of_text=="multi_speaker_replaced_by_wildcard"], x="WER", color="green", label="BestModel_M-Speak-WILD_WER", ax=axs[0][1])
axs[0][1].legend(loc="upper right")

sns.histplot(oa_ol[oa_ol.Type_of_text=="multi_speaker"], x="WER", color="red", label="BASELINE_M-Speak-SPACE_WER", ax=axs[1][0])
axs[1][0].legend(loc="upper right")

sns.histplot(na_nl[na_nl.Type_of_text=="multi_speaker"], x="WER", color="green", label="BestModel_M-Speak-SPACE_WER", ax=axs[1][0])
axs[1][0].legend(loc="upper right")