In [34]:
import os
import base64
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys

In [35]:
ipaddr = 'speak2recharge.mysql.database.azure.com'
db_name = 'speech_process'
passwd = 'S2RPass7'
userid = 'myadmin@speak2recharge'
dest_sql = "mysql+mysqldb://" + userid + ":" + passwd + "@" + ipaddr + "/" + db_name + "?charset=utf8&use_unicode=0"
sql_engine = create_engine(dest_sql,pool_recycle=3600)
db_connection    = sql_engine.connect()

In [36]:
tables = pd.read_sql("show tables;", db_connection)
tables

                 Tables_in_speech_process
0    b'acoustic_training_tables_metadata'
1                     b'data16_0105_1705'
2                     b'data16_0105_3105'
3                     b'data16_0106_1506'
4                     b'data16_0107_0108'
..                                    ...
452                               b'test'
453                    b'test_lang_check'
454              b'test_language_kannada'
455              b'test_language_marathi'
456              b'wipro_transcribe_2709'

[457 rows x 1 columns]

In [30]:
tags = pd.read_sql("select distinct(tag) from s2r_hindi_vs_3_lifestyle_1_27082020;", db_connection)
tags

   tag
0   51
1   52

#### Comment: Make sure that domain tags 39, 37 are devnagri only.

In [22]:
tags = pd.read_sql("select distinct(tag) from data_hindi_tag_39_010419;", db_connection)
tags

   tag
0   39

In [38]:
check_for_devnagari = pd.read_sql("select * from data_hindi_tag_39_010419 where tag in(37,39);", db_connection)
# improved.Machine_Transcribed_text_x.str.split().apply(len), color='red', label='baseline_predicted_word_len'
check_for_devnagari['utf_text_decoded'] = check_for_devnagari['utf_text'].apply(base64.urlsafe_b64decode).str.decode('utf8')
check_for_devnagari.head()

,id,user_id,text,utf_text,base_dir,audio_file,assigned,tag,flag_decode,hash,upload_date,verified_time,upload_time,uploaded,verified,synced,last_modifed,create_date,length,utf_text_decoded
0,20813884,200757,b'0',b'4KSV4KWL4KSw4KSyCg==',b'/home/software/data/uploads_v2/hindi/2018-12...,b'200757_1_20813884.opus',1,39,0,9,2018-12-11 19:03:39,None,0,1,20,1,None,2018-12-11 18:59:53,221,कोरल\n
1,20813885,200757,b'0',b'4KSo4KWH4KS44KWN4KSy4KWHIOCkuOClh-CksOClh-Ck...,b'/home/software/data/uploads_v2/hindi/2018-12...,b'200757_1_20813885.opus',1,39,0,9,2018-12-11 19:03:54,None,0,1,20,1,None,2018-12-11 18:59:53,929,नेस्ले सेरेग्रो मल्टि ग्रेन सीरियल विथ मिल्क ए...
2,20813886,200757,b'0',b'4KSo4KS_4KS14KS_4KSv4KS-IOCkruClh-CkqCDgpKHg...,b'/home/software/data/uploads_v2/hindi/2018-12...,b'200757_1_20813886.opus',1,39,0,9,2018-12-11 19:04:20,None,0,1,20,1,None,2018-12-11 18:59:53,671,निविया मेन डार्क स्पॉट रिडक्शन क्रेम\n
3,20813887,200757,b'0',b'4KSF4KSu4KWC4KSy4KS44KWN4KSq4KWN4KSw4KWHIOCk...,b'/home/software/data/uploads_v2/hindi/2018-12...,b'200757_1_20813887.opus',1,39,0,9,2018-12-11 19:04:29,None,0,1,20,1,None,2018-12-11 18:59:53,425,अमूलस्प्रे इन्फेंट फूड\n
4,20813888,200757,b'0',b'4KS44KSo4KSr4KWA4KS44KWN4KSfIOCkuOCli-CksCDg...,b'/home/software/data/uploads_v2/hindi/2018-12...,b'200757_1_20813888.opus',1,39,0,9,2018-12-11 19:04:39,None,0,1,20,1,None,2018-12-11 18:59:53,473,सनफीस्ट सोर क्रीम ओनियन पास्ता\n

In [39]:
check_for_devnagari = pd.read_sql("select * from data_hindi_tags_2_8_22_36_37_020419 where tag in(37,39);", db_connection)
# improved.Machine_Transcribed_text_x.str.split().apply(len), color='red', label='baseline_predicted_word_len'
check_for_devnagari['utf_text_decoded'] = check_for_devnagari['utf_text'].apply(base64.urlsafe_b64decode).str.decode('utf8')
check_for_devnagari.head()

,id,user_id,text,utf_text,base_dir,audio_file,assigned,tag,flag_decode,hash,upload_date,verified_time,upload_time,uploaded,verified,synced,last_modifed,create_date,length,utf_text_decoded
0,17720717,39056,b'0',b'4KSP4KSu4KWH4KSc4KWJ4KSoIOCkquCljeCksuClhyDg...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720717.opus',1,37,0,9,2018-05-17 22:11:23,None,0,1,20,1,None,2018-05-17 21:47:23,1031,एमेजॉन प्ले माय मोस्ट लिसन टू सोंग्स ऑन गूगल प...
1,17720719,39056,b'0',b'4KSV4KSC4KSq4KWN4KSv4KWC4KSf4KSwIOCkquCljeCk...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720719.opus',1,37,0,9,2018-05-17 22:11:37,None,0,1,20,1,None,2018-05-17 21:47:23,725,कंप्यूटर प्ले द न्यू एल्बम बाई निर्वाना\n
2,17720721,39056,b'0',b'4KSf4KWI4KSC4KSX4KWLIOCkuOClh-CknyDgpKYg4KSf...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720721.opus',1,37,0,9,2018-05-17 22:12:02,None,0,1,20,1,None,2018-05-17 21:47:23,761,टैंगो सेट द टाइमर फॉर थर्टी वन मिनट्स\n
3,17720723,39056,b'0',b'4KSP4KSq4KWN4KSq4KSyIOCkquCljeCksuClhyDgpK7g...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720723.opus',1,37,0,9,2018-05-17 22:12:19,None,0,1,20,1,None,2018-05-17 21:47:23,953,एप्पल प्ले माई बुक सीरियस मेन बाई आमिष त्रिपाठी\n
4,17720724,39056,b'0',b'4KSr4KS-4KSH4KS1IOCkoeClhwo=',b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720724.opus',1,37,0,9,2018-05-17 22:12:25,None,0,1,20,1,None,2018-05-17 21:47:23,293,फाइव डे\n

In [6]:
tags = pd.read_sql("select distinct(tag) from data_hindi_tags_2_8_22_36_37_020419;", db_connection)
tags

   tag
0   37

### Getting Verified Tags

In [7]:
tags = pd.read_sql("select distinct(verified) from s2r_hindi_vs_3_lifestyle_1_27082020;", db_connection)
tags

   verified
0        20

In [8]:
tags = pd.read_sql("select distinct(verified) from data_hindi_tag_39_010419;", db_connection)
tags

   verified
0        20

In [9]:
tags = pd.read_sql("select distinct(verified) from data_hindi_tags_2_8_22_36_37_020419;", db_connection)
tags

   verified
0        20

In [14]:
observe_columns = pd.read_sql("select * from data_hindi_tags_2_8_22_36_37_020419;", db_connection)
observe_columns.columns

Index(['id', 'user_id', 'text', 'utf_text', 'base_dir', 'audio_file',
       'assigned', 'tag', 'flag_decode', 'hash', 'upload_date',
       'verified_time', 'upload_time', 'uploaded', 'verified', 'synced',
       'last_modifed', 'create_date', 'length'],
      dtype='object')

In [15]:
observe_columns.head()

,id,user_id,text,utf_text,base_dir,audio_file,assigned,tag,flag_decode,hash,upload_date,verified_time,upload_time,uploaded,verified,synced,last_modifed,create_date,length
0,17720717,39056,b'0',b'4KSP4KSu4KWH4KSc4KWJ4KSoIOCkquCljeCksuClhyDg...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720717.opus',1,37,0,9,2018-05-17 22:11:23,None,0,1,20,1,None,2018-05-17 21:47:23,1031
1,17720719,39056,b'0',b'4KSV4KSC4KSq4KWN4KSv4KWC4KSf4KSwIOCkquCljeCk...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720719.opus',1,37,0,9,2018-05-17 22:11:37,None,0,1,20,1,None,2018-05-17 21:47:23,725
2,17720721,39056,b'0',b'4KSf4KWI4KSC4KSX4KWLIOCkuOClh-CknyDgpKYg4KSf...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720721.opus',1,37,0,9,2018-05-17 22:12:02,None,0,1,20,1,None,2018-05-17 21:47:23,761
3,17720723,39056,b'0',b'4KSP4KSq4KWN4KSq4KSyIOCkquCljeCksuClhyDgpK7g...,b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720723.opus',1,37,0,9,2018-05-17 22:12:19,None,0,1,20,1,None,2018-05-17 21:47:23,953
4,17720724,39056,b'0',b'4KSr4KS-4KSH4KS1IOCkoeClhwo=',b'/home/software/data/uploads_v2/hindi/2018-05...,b'39056_1_17720724.opus',1,37,0,9,2018-05-17 22:12:25,None,0,1,20,1,None,2018-05-17 21:47:23,293